# Include zsh source files
if [[ -d ~/.zsh/ ]]; then
  for file in ~/.zsh/*; do
    source "$file"
  done
fi


{{ if eq .chezmoi.os "darwin" }}
# Mac Only Stuff
export PATH="/opt/homebrew/opt/node@14/bin:$PATH"
export PATH="/Applications/Sublime Text.app/Contents/SharedSupport/bin:$PATH"
export PATH="/usr/local/opt/openssl@1.0.2t/bin:$PATH"
export PATH="/usr/local/opt/gnu-getopt/bin:$PATH"
export PATH="/Users/snellin/Library/Python/3.9/bin:$PATH"

# Testing SpaceVim
alias svim='vim -u ~/.SpaceVim/vimrc'


{{- end }}

{{ if eq .chezmoi.os "linux" }}
# DevDesktop Only Stuff

# TODO: Setup kinit amd mwinit renewal
# https://w.amazon.com/bin/view/Mshrarm/Kinit_And_Mwinit_renewal_script
{{- end }}

# Setup local-only branch autocompletion
GIT_COMPLETION_CHECKOUT_NO_GUESS=1

echo "TODO: Checking for dotfile updates..."
chezmoi git pull -- --autostash --rebase && chezmoi diff --pager cat

# I think thji sis needed for mac. Double check later
# export PATH="/bin:${PATH//:\/bin:/:}"


# Add mise for some dependency management
eval "$(~/.local/bin/mise activate zsh)"

# Start ssh-agent
run_ssh_agent


lazy_load_nvm() {
  unset -f node nvm
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
}

node() {
  lazy_load_nvm
  node $@
}

nvm() {
  lazy_load_nvm
  node $@
}
