# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# ZSH_THEME="awesomepanda"
ZSH_THEME=""

plugins=(git sudo docker zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# User configuration
export EDITOR="vim"
export LANG=en_US.UTF-8

# Include the alias file
source $HOME/.zsh_alias

# Starship prompt
eval "$(starship init zsh)"

# Add random toolpaths
export PATH=/apollo/env/envImprovement/bin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=$HOME/tools:$PATH
export PATH=$HOME/.local/bin:$PATH
export PATH="$HOME/.toolbox/bin:$PATH"
export PATH="$HOME/.cargo/env:$PATH"

# Add Zfunctions
fpath+=~/.zfunc

{{- if eq .chezmoi.hostname "bcd0745fb87b" }}
# Mac Only Stuff
export PATH="/opt/homebrew/opt/node@14/bin:$PATH"
export PATH="/Applications/Sublime Text.app/Contents/SharedSupport/bin:$PATH"
export PATH="/usr/local/opt/openssl@1.0.2t/bin:$PATH"
export PATH="/usr/local/opt/gnu-getopt/bin:$PATH"
{{- end }}

{{- if eq .chezmoi.hostname "dev-dsk-snellin-2b-8d3a360b" }}
# DevDesktop Only Stuff
export PATH=\$PATH:$(realpath ../../env/sigv4curl-1.0/runtime/bin)
{{- end }}

export PATH="/usr/local/bin:$PATH"

#Fuzzy Finder Tool
# TODO: Setup command to install if not already 
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Setup local-only branch autocompletion
GIT_COMPLETION_CHECKOUT_NO_GUESS=1


echo "TODO: Checking for dotfile updates..."

# I think thji sis needed for mac. Double check later
# export PATH="/bin:${PATH//:\/bin:/:}"
