{
  "mcpServers": {
    "workplace-chat-mcp": {
      "type": "stdio",
      "command": "workplace-chat-mcp",
      "args": []
    },
    "builder-mcp": {
      "type": "stdio",
      "command": "builder-mcp",
      "args": [
        "--include-tools",
        "ReadInternalWebsites, InternalSearch, InternalCodeSearch, BrazilBuildAnalyzerTool, GetSoftwareRecommendation, SearchSoftwareRecommendations, Taskei*, Quip*"
      ],
      "env": {}
    },
    "spec-studio-mcp": {
      "type": "stdio",
      "command": "mcp-spec-studio-server"
    },
    "pippin-mcp": {
      "type": "stdio",
      "command": "pippin-mcp-server",
      "args": []
    },
    "playwright": {
      "type": "stdio",
      "command": "npx",
{{- if eq .chezmoi.os "darwin" }}
      "args": [
        "@playwright/mcp@latest",
        "--extension"
      ],
{{- else }}
      "args": [
        "@playwright/mcp@latest",
        "--headless",
        "--browser", "chromium"
      ],
{{- end }}
      "env": {}
    }
  }
}
