@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Classic Menu Bar (windows only?) */
#toolbar-menubar .menubar-text,
#toolbar-menubar menuitem, 
#toolbar-menubar menu {
  font-size: 12px !important;
}

/* Tab bar */
#TabsToolbar {
  font-size: 12px !important;
}

/* Main Toolbar */
#nav-bar {
  font-size: 12px !important;
}

/* Bookmarks Toolbar */
#PersonalToolbar, 
#PersonalToolbar menuitem,
#PersonalToolbar menu {
  font-size: 12px !important;
}

/* Context menus (this is not all of them) */
menupopup[id*="ContextMenu"] menuitem,
menupopup[id*="ContextMenu"] menu, 
#placesContext menuitem, 
#placesContext menu, 
#backForwardMenu menuitem {
  font-size: 12px !important;
}
